# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist
dist-ssr
.vite
tsconfig.app.tsbuildinfo

# Node.js modules
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environmental Variables
.env
.env.local
.env.*.local  # for environment-specific files
.env.development
.env.production

# Temporary files and caches
*.bak
*.tmp
*.swp
*.swo
*.patch
*.tgz

# Yarn Integrity file
.yarn-integrity

# npm package-lock
package-lock.json
# If you are using Yarn, uncomment the following line to ignore the Yarn lock file
# yarn.lock

# Next.js build output (if applicable)
.next

# Misc
*.sublime-workspace
*.sublime-project

# MacOS
*.AppleDouble
*.LSOverride
